<div class="signup-cont">
  <h2>Sign up</h2>
  <div class="form-signin"> 
    <h6 class="h3 mb-3 fw-normal">Please sign in</h6>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="sign-design">
        <div class="form-floating">
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name",  class: "form-control", id: "floatingInput", placeholder: "User Name" %>
          <%= f.label :user_name %><br />
        </div>

        <div class="form-floating">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
          <%= f.label :email %><br />
        </div> 
      </div>

          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
      <div class="sign-design">
        <div class="form-floating">
          <%= f.password_field :password, autocomplete: "new-password",  class: "form-control", id: "floatingInput", placeholder: "Password" %>
          <%= f.label :password %><br />
        </div>

        <div class="form-floating">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "form-control", id: "floatingInput", placeholder: "Confirm Password" %>
          <%= f.label :password_confirmation, "Confirm Password"  %><br />
        </div>
      </div>

      <div class="sign-design">
        <div class="form-floating">
          <%= f.text_field :question1, autofocus: true, autocomplete: "question1",  class: "form-control", id: "floatingInput", placeholder: "Question" %>
          <%= f.label :question1, "Question 1" %><br />
        </div>

        <div class="form-floating">
          <%= f.text_field :answer1, autofocus: true, autocomplete: "answer1",  class: "form-control", id: "floatingInput", placeholder: "Answer" %>
          <%= f.label :answer1, "Answer 1" %><br />
        </div>
      </div>

      <div class="sign-design">
        <div class="form-floating">
          <%= f.text_field :question2, autofocus: true, autocomplete: "question2",  class: "form-control", id: "floatingInput", placeholder: "Question" %>
          <%= f.label :question2, "Question 2" %><br />
        </div>

        <div class="form-floating">
          <%= f.text_field :answer2, autofocus: true, autocomplete: "answer2", class: "form-control", id: "floatingInput", placeholder: "Answer" %>
          <%= f.label :answer2, "Answer 2" %><br />
        </div>
      </div><br/>

     <div class="singup-button-design" style="display: flex; justify-content: space-between; width: 100%;">
       <div class="actions">
          <%= f.submit "Sign up", class: "signup-button" %>
        </div>
      <% end %>

        <%= render "devise/shared/links" %>
      </div>
  </div>
</div>