<div id="<%= dom_id tasker %>", style="">
  <p>
    <strong>Title:</strong>
    <i style="margin-left:0.3rem"><%= tasker.title %></i>
  </p>

  <p>
    <strong>Description:</strong>
    <i style="margin-left:0.3rem"><%= tasker.description %></i>
  </p>

  <p>
    <strong>Start Date:</strong>
    <i style="margin-left:0.3rem"><%= tasker.start_time.strftime('%d-%m-%Y') %></i>
  </p>

  <p>
    <strong>End Date:</strong>
    <i style="margin-left:0.3rem"><%= tasker.end_time.strftime('%d-%m-%Y') %></i>
  </p>

</div>
