<div id="<%= dom_id tasker %>">
  <p>
    <strong>Title:</strong>
    <%= tasker.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tasker.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= tasker.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= tasker.end_time %>
  </p>

</div>
