<div id="<%= dom_id tasker %>", style="">
  <p>
    <strong>Title:</strong>
    <i style="margin-left:0.3rem"><%= tasker.title %></i>
  </p>

  <p>
    <strong>Description:</strong>
    <i style="margin-left:0.3rem"><%= tasker.description %></i>
  </p>

  <p>
    <strong>Start time:</strong>
    <i style="margin-left:0.3rem"><%= tasker.start_time %></i>
  </p>

  <p>
    <strong>End time:</strong>
    <i style="margin-left:0.3rem"><%= tasker.end_time %></i>
  </p>

</div>
