<div class="container text-center">
<h1>Task Schedular</h1>
<%= link_to "New task", new_tasker_path %> </br>
<%= month_calendar(events: @taskers) do |date, taskers| %>
        <div class="dayCont">
            <%= date.day%>
            <% taskers.each do |tasker| %>
                <% if tasker.user_id == current_user.id %>
                    <% if tasker.end_time.after?(Date.today)  %>
                    <div class="card-header-cal">
                        <p class="cardTitle">
                            <%= link_to tasker.title, tasker %>
                        </p>
                    </div>
                    <% else%>
                    <div class="card-header-cal">
                        <p class="cardTitle">
                            <P>Time exceeded 
                            <%= tasker.end_time.strftime('%r')%> 
                            <%= link_to tasker.title, tasker %>
                            
                        </p>
                    </div>
                    <%end%>
                <%end%>
            <%end%>
        </div>
<%end%>
</div>


