<div class="task-show">
 <div class="task-show-design">
    <p style="color: green"><%= notice %></p>
    <h1>Event</h1>

    <%= render @tasker %>

    <div>
      <div class="task-button-sec">
        <%= link_to "Back to taskers", taskers_path, class: "task-show-button" %>

        <%= button_to "Destroy this tasker", @tasker, method: :delete, class: "task-show-button1" %>
      </div>
      <% if @tasker.end_time.before?(Date.today)  %>
       <div class="task-edit">
         <%= link_to "Change the date",  edit_tasker_path(@tasker), class: "task-show-button2" %>
       </div>
      <%end%>
    </div>

 </div>
</div>
