<%= form_with(model: document) do |form| %>
  <div>
    <%= form.label :name, class: "new-doc-label"%>
    <%= form.text_field :name, class: "new-doc-input" %>
  </div>

  <div>
    <%= form.label :images %>
    <%= form.file_field :images %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
