<%= form_with(model: document) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :images %>
    <%= form.file_field :images %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
