<div class="doc">

  <p style="color: green"><%= notice %></p>

  <div class="doc-top">
    <h1>Documents</h1>

    <%= form_tag documents_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], class: "doc-input", placeholder: "Search..." %>
        <%= submit_tag "Search", class: "doc-buttons"%>
    <% end %>
  </div>


  <div  class="doc-container">
    <% @documents.each do |document| %>
      <% if document.user_id == current_user.id %>
        <div class="doc-card">
          <%= render document %>
          <%# document.name%>
          <div class="doc-card-button">
            <p>
              <%= button_to "Delete", document, method: :delete, class: "doc-buttons1" %>
            </p>
            <%= link_to "Download", welcome_documents_pdf_path(document), class: "doc-buttons2" %>
          </div>
        </div>
      <%# link_to "Download", rails_blob_path(document, disposition: "attachment") %>
      <%# link_to rails_blob_path(document, disposition: "attachment") do %>
            <%# image_tag "Download", alt: "Download file" %>
          <%# end %>
      <% end %>
    <% end %>
  </div>

    <div class="doc-add">
      <%= button_to new_document_path, class: "doc-add-button", method: :get do %>
      <h4>+</h4>
      <%end%>
    </div>

</div>