<div> 
<% if user_signed_in? %>
    <%= current_user.user_name%>
    <%= link_to 'Home', home_path %>
    <%= link_to 'Documents',  documents_path %>
    <%= link_to 'Task Schedular',  taskers_path %>
    <%= link_to "Profile", profile_path %>
    <%= link_to 'About us', about_path %>
    <%= link_to "Log out", users_sign_out_path, method: :delete %>
<% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Register", new_user_registration_path %>
<% end %>
  </div>