<% if user_signed_in? %>
<div class="nav-index" > 
    <%# current_user.user_name%>
   <div>
    <div class="nav">
        <%= link_to 'Home', home_path, class: "nav-link" %>
         
    </div>
    <div class="nav">
        <%= link_to 'Documents',  documents_path, class: "nav-link" %>
    </div>
    <div class="nav">
        <i class="fa-regular fa-clipboard-list-check"></i>
        <%= link_to 'Task Schedular',  taskers_path, class: "nav-link" %>
    </div>
    <div class="nav">
        <%= link_to "Profile", profile_path, class: "nav-link" %>
    </div>
    <div class="nav">
        <%= link_to 'About us', about_path, class: "nav-link" %>
    </div>
    <div class="nav">
        <%= link_to "Log out", users_sign_out_path, method: :delete, class: "nav-link" %>
    </div>
   </div>
  </div>
<% else %>
<div class="nav-login">
    <div class="nav">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
     <div class="nav">
        <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
    </div>  
</div>
<% end %>

  