<div class="nav-index" style="display: flex; flex-direction: column; justify-content: flex-start; width: 20%;" > 
<% if user_signed_in? %>
    <%# current_user.user_name%>
   <div class="nav-cont">
    <div class="nav">
        <i class="fa-regular fa-house"></i> 
        <%= link_to 'Home', home_path %>
         
    </div>
    <div class="nav">
        <i class="fa-light fa-file"></i>
        <%= link_to 'Documents',  documents_path %>
    </div>
    <div class="nav">
        <i class="fa-regular fa-clipboard-list-check"></i>
        <%= link_to 'Task Schedular',  taskers_path %>
    </div>
    <div class="nav">
        <%= link_to "Profile", profile_path %>
    </div>
    <div class="nav">
        <%= link_to 'About us', about_path %>
    </div>
    <div class="nav-logout">
        <%= link_to "Log out", users_sign_out_path, method: :delete %>
    </div>
   </div>
<% else %>
    <div class="nav-auth">
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
    </div>
<% end %>
  </div>

  